CONFIG_IDF_TARGET="esp32s3"

# Disable ble controller (not used in this project, causes linker errors)
CONFIG_ENABLE_ESP32_BLE_CONTROLLER=n

# Disable using ble for commissioning
CONFIG_USE_BLE_ONLY_FOR_COMMISSIONING=n

# Disable Matter server
CONFIG_ESP_MATTER_ENABLE_MATTER_SERVER=n

# Disable Bluetooth (not used in this project, causes linker errors)
CONFIG_BT_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=n
